* {
    user-select: none;
}

.bullet {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
    z-index: 100;
}

body {
    margin: 0;
    padding: 0;
}

#game {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: gray;
}


.blue-box {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    position: absolute;
    top: 500px;
    left: 350px;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
}

#spawn-btn {
    width: auto;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    padding: 0 20px;
}

#shoot-btn {
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 500px;
    right: 20px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 50%;
}

#spawn-btn span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#spawn-btn[data-text-length="1"] {
    padding: 0 40px;
}

#spawn-btn[data-text-length="2"] {
    padding: 0 30px;
}

#spawn-btn[data-text-length="3"] {
    padding: 0 20px;
}

.red-box {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    position: absolute
}

#kills {
    font-size: 24px
    z-index: 101;
}

.try-again-btn {
    font-size: 16px;
    background-color: orange;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 300px;
    z-index: 101;
}


@media (max-width: 768px) {
    .spawn-btn {
        bottom: 60px;
    }
}
